<div class="page-header">
  <% if current_user %>
  <%= link_to new_channel_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Channel
  <% end %>
  <% end %>
  <h1>Listing channels</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @channels) do |channel| %>
            <td><%= link_to channel.name, channel %></td>
            <td><%= channel.description %></td>
      <% end %>
    </tbody>
  </table>
</div>
