<div class="page-header">
  <% if current_user %>
  <%= link_to new_service_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Service
  <% end %>
  <% end %>
  <h1>All services</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Live</th>
            <th>On-demand</th>
            <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @services) do |service| %>
            <td><%= link_to service.name, service %></td>
            <td><% if @service.live %><span class="label label-success">Live</span><% end %></td>
            <td><% if @service.on_demand %><span class="label label-primary">On-Demand</span><% end %></td>
            <td><%= service.description %></td>
      <% end %>
    </tbody>
  </table>
</div>
