body {
  padding-top: $navbar-height + 10px;
}

.page-header {
  a.btn {
    float: right;
  }

  a.btn + a.btn {
    margin-right: 8px;
  }
}

input[type="radio"], input[type="checkbox"] {
  width: initial;
  height: initial;
  margin-top: 7px;
}

.compare-channel {
    color: lighten($text-muted, 20%);
}

.table .label {
  font-size: 12px;
}

div.tier {
  border-left: 5px solid $brand-info;
  border-bottom: 5px solid $brand-info;
  padding-left: ($grid-gutter-width / 2);
  margin-bottom: ($grid-gutter-width / 2);
  
  div.tier {
    border-color: $brand-primary;
    
    div.tier {
      border-color: $brand-success;
      
      div.tier {
        border-color: $brand-warning;
      }
    }
  }
}